// Highlight.js custom theme
// Follow guidelines
// 1. Uncomment the block just below - remove `/*` and `*/`
// 2. Fill `background`, `color`, `border-right-color` properties
// with properties of `.hljs` CSS class of your theme
// 3. Put your theme where it's indicated just below
// 4. Remove `.hljs {...}` rules
// 5. Remove `hljs-` of all CSS class name. E.g : `.hljs-comment` becomes `.comment`
// 6. Comment line 61 (`'themes/tranquilpeak',`) of `source/_css/tranquilpeak.scss` file
// 7. Run `grunt buildProd` to build the theme and see the result

// Default code block
pre > code {
    background: #2d2d2d;
    color: #cccccc;
}

// allow for horizontal scrolling of code blocks
pre > code.codeblock {
    overflow-x: auto;
}

// Default inline code
code {
    border: 1px solid #d8e0e4;
    background-color: #f5f7f8;
    color: #000;

}

// Tabbed code block tab
// If your theme is dark then use a lighter background
// to see clearly which tab is active
.codeblock--tabbed figcaption .tab.active {
    background: #2d2d2d;
    color: #cccccc;
}

// highlight code block
figure.highlight,
.codeblock {
    background: #2d2d2d;
    color: #cccccc;

    // top bar
    figcaption {
        background: #2d2d2d;
        color: #bcd9ef;
        font-family: Menlo,Consolas,monospace;
    }
    // line numbers
    .gutter {
        background: #2d2d2d;
        border-right-color: #424242;
        .line {
            color: #969696;
        }
    }

    // START CUSTOM THEME
    /* Tomorrow Night Eighties Theme */
    /* Original theme - https://github.com/chriskempson/tomorrow-theme */
    /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

    /* Tomorrow Comment */
    .comment,
    .quote {
      color: #999999;
    }

    /* Tomorrow Red */
    .variable,
    .template-variable,
    .tag,
    .name,
    .selector-id,
    .selector-class,
    .regexp,
    .deletion {
      color: #f2777a;
    }

    /* Tomorrow Orange */
    .number,
    .built_in,
    .builtin-name,
    .literal,
    .type,
    .params,
    .meta,
    .link {
      color: #f99157;
    }

    /* Tomorrow Yellow */
    .attribute {
      color: #ffcc66;
    }

    /* Tomorrow Green */
    .string,
    .symbol,
    .bullet,
    .addition {
      color: #99cc99;
    }

    /* Tomorrow Blue */
    .title,
    .section {
      color: #6699cc;
    }

    /* Tomorrow Purple */
    .keyword,
    .selector-tag {
      color: #cc99cc;
    }

    .emphasis {
      font-style: italic;
    }

    .strong {
      font-weight: bold;
    }

    // END CUSTOM THEME

}
